@font-face {
    font-family: pokemon-solid;
    src: url(../fonts/pokemon-solid.ttf)
}

@font-face {
    font-family: pokemon-gb;
    src: url(../fonts/pokemon-gameboy.ttf)
}

@font-face {
    font-family: dragon-hunter;
    src: url(../fonts/dragon-hunter.otf)
}

@font-face {
    font-family: zelda;
    src: url(../fonts/zelda.ttf)
}

h1 {
    font-family: zelda;
    text-shadow: blue 3px 3px 0;
}

#rollModal,
dialog,
.btn-primary,
#pokemonAttackHeader,
#monsterAttackHeader {
    font-family: pokemon-gb;
}

.font-dragon-hunter {
    font-family: dragon-hunter;
}
