* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1400px 1000px;
    height: 100%;
    width: 100%;
}

#back {
    width: 50px;
    margin: 50px 50px 0 0;
    float: right;
    scale: 250%;
    box-shadow:  -.75px -.75px 0 rgba(255, 255, 255, 0.726),
    .5px .5px 0 rgba(133, 37, 37, 0.637),
    1px 1px 1px rgba(94, 2, 2, 0.616),
    3px 3px 5px rgba(102, 2, 2, 0.623);
    background-color: rgba(12, 0, 0, 0.473);
    text-shadow: -.35px -.35px 0 rgba(255, 255, 255, 0.774),
    1px 1px 0 rgba(85, 5, 5, 0.658),
    2px 2px 2px rgba(58, 3, 3, 0.685),
    20px 40px 40px rgba(0,0,0)
}

button:hover {
    scale: 255%;
    cursor: pointer;
    color: darkred;
    background-color: rgb(150, 122, 122);
}

section {
    display: flex;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: center;
}

#highScoreBox {
    height: 850px;
    width: 600px;
    border: 5px outset red;
    border-image: linear-gradient(rgb(141, 0, 0), rgb(0, 0, 0), rgb(141, 0, 0)) 1;
    background-color: rgba(0, 0, 0, 0.753);
    text-shadow: -2px -2px 0 rgb(0, 0, 0),
    1px 1px 0 rgba(85, 5, 5, 0.658),
    3px 3px 3px rgba(107, 4, 4, 0.904);
    color: white;
}

h2 {
    text-align: center;
}

#scoreList {
    height: 90%;
    width: 100%;
}

.score {
    margin: 20px;
    font-size: 38px;
}

.highNumber {
    color: rgb(197, 13, 0);
    text-shadow: -.25px -.25px 0 rgba(236, 230, 228, 0.445),
    1px 1px 0 rgba(0, 0, 0, 0.596),
    2px 2px .5px rgba(224, 94, 7, 0.685),
    3px 3px 3px rgba(207, 186, 94, 0.479);  
}

@media (max-width: 900px) {
    body {
        background-size: auto;
        height: 80%;
    }

    #back {
        margin: 30px auto 0 auto;
        height: 20px;
        width: 125px;
        float: none;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #highScoreBox {
        margin-top: 60px;
        height: 650px;
    }

    .score {
        margin: 10px;
        font-size: 28px;
    }
}

@media (min-width: 1400px) {
    body {
        background-size: 1800px 1200px;
    }
}

@media (min-width: 1800px) {
    body {
        background-size: 2200px 1200px;
    }
}

@media (min-width: 2200px) {
    body {
        background-size: 2600px 1200px;
    }
}

@media (min-width: 2600px) {
    body {
        background-size: cover;
    }
}