* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: 0,0,0,.5;
}

body::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

h1 {
    font-size: 80px;
    text-align: center;
    height: 20%;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.774),
    1px 1px 0 rgba(133, 37, 37, 0.801),
    3px 3px 3px rgba(94, 2, 2, 0.863),
    10px 10px 20px rgba(102, 2, 2, 0.795),
    20px 40px 40px rgba(0,0,0);
}

#selectionArea {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
    height: 50%;
    bottom: -6px;
}

.doorTxt {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-shadow: -.45px -.45px 0 rgba(247, 244, 244, 0.856),
    1px 1px 0 rgba(116, 32, 32, 0.726),
    2px 2px 1px rgba(92, 5, 5, 0.801),
    3px 3px 5px rgba(58, 5, 5, 0.829);
    position: absolute;
    top: 150px;
    left: 50px;
    visibility: hidden;
}

.doors {
    position: relative;
    /* scale: 175%; */
    z-index: -1;
    bottom: 0;
}

a:hover .doorTxt  {
    visibility: visible;
}

#floor {
    position: absolute;
    bottom: 0px;
    height: 30%;
    width: 100%;
}